@import './variables/global';
@import './reset';
@import './themes/dark';
@import './themes/light';
@import './themes/orange';

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}


.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px 20px 20px 45px;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

*::-webkit-scrollbar-track-piece {
  background-color: var(--secondary-color);
}

*::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: var(--inverted-primary-color);
}