.Button {
    cursor: pointer;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.square {
    padding: 0;
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.background_inverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.half_square {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
}

.half_square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.half_square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.half_square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.size_l {
    font: var(--font-l);
}

.size_m {
    font: var(--font-m);
}

.size_xl {
    font: var(--font-xl);
}