.article_card{
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 400px;
    min-width: 300px;
    flex-shrink: 0;
}

.avatar_wrapper{
    // align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.sub_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.views{
    display: flex;
    flex-direction: row;
    align-items: center;
}

// .text_wrapper{
//     height: 200px;
//     overflow-y: hidden;
// }

.fade_text {
    margin-top: 10px;
  position: relative;
  max-height: 150px;
  overflow: hidden;
}

.fade_text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--bg-color)
  );
  pointer-events: none;
}

// .types_wrapper{
//     display: flex;
//     flex-direction: row;
//     max-width: 200px;
//     overflow-x: hidden;
// }

.type_item{
    border: 2px solid var(--primary-color);
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
}

.types_wrapper {
  position: relative;
   display: flex;
    flex-direction: row;
    max-width: 70%;
  overflow: hidden;
//   overflow-y: auto;0
}

.button_style{
color: var(--primary-color);
}

.button_big_style{
  display: flex;
color: var(--primary-color);
margin-left: auto;
}

.button_big_style:hover{
color: var(--inverted-primary-color);
}
.button_style:hover{
color: var(--inverted-primary-color);
}

.article_big_card{
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 100%;
    min-width: 500px;
}

.avatar_big_wrapper{
  display: flex;
  justify-content: center;
  width: 100%;


}
