.inputMargin{
    margin-left: auto;
    margin-right: 20%;
    margin-top: 15px;
}

.EditCardWrapper{
    border: solid 2px var(--inverted-bg-color);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 60vh;
}

.buttonWrapper{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.saveUpgradeButton{
    margin-left: auto;
    border-radius: 20px;
    width: 150px;
    padding: 5px;
}

.cancelUpgradeButton{
    margin-right: auto;
    border-radius: 20px;
    width: 150px;
    padding: 5px;
}