.articlesWrapper{
    display: flex;
    flex-flow: row wrap;
    margin-left: -15px;
}

.button_change{
    display: flex;
    margin-left: auto;
    border-radius: 10px;
}

.view_icons{
    fill: var(--primary-color);

    // width: 30px;
    // height: 30px;
}

.not_found{
    font-size: large;
    margin: 40px;
}