.icon_wrapper{
    size: 100px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.icon_selected{
    fill: var(--primary-color);
}

.icon_not_selected{
    // fill: var(--inverted-primary-color);
    // opacity: 0;
}

.isSelected{
cursor: auto;    
}