.mobile_button{
    height: 100px;
    width: 100px;
    border: none;
    background-color: var(--bg-color);
}

.sheet {
  z-index: 100;
  position: fixed;
  left: 0vw;
  height: calc(100vh + 100px);
  width: 100%;
//   border-radius: 12px 12px 0px;
  background: #fff;
  touch-action: none;
}

.sheet > div {
  height: 60px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
//   padding: 0 20px;
  text-transform: capitalize;
}
