.item{
    margin-top: 10px;
    display: flex;
    align-items: baseline;
}   

.link{
    margin-left: 5px;
    margin-top: 10px;
    opacity: 1;
}

.icon{
    fill: var(--primary-color);
}

.collapsed {
    // width: var(--sidebar-collapsed-width);

    .link{
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}