.navbar{
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.authModal{
    margin: auto;
}

.logoutModal{
    margin: auto;
}

.wrapper_actions{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notification_position{
    margin-right: 15px;
}