.input_effect {
  border-radius: 10px;
  outline: 2px solid var(--primary-color);
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-color);
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
  width: 100%;
}

.input_effect:focus {
  outline-offset: 5px;
  background-color: #fff
}

.add_comment_wrapper{
    display: flex;
    text-align: center;
    justify-content: space-between;

    // border: 2px solid;
    padding: 10px;
}

.button_style{
    margin-left: 10px;
}

.icon_style{
    fill:red

    // fill: var(--primary-color);
}